<mat-toolbar color="primary">
  <a mat-button routerLink="/home" routerLinkActive="active-link" color="accent">Home</a>
  <a mat-button routerLink="/albums" routerLinkActive="active-link" color="accent">Albums</a>
  <a mat-button routerLink="/artists" routerLinkActive="active-link" color="accent">Artists</a>
  <a mat-button routerLink="/about" routerLinkActive="active-link" color="accent">About</a>
  <!-- <a mat-button class="material-symbols-outlined" routerLink="/cart" routerLinkActive="active-link" color="accent">Cart</a>
</mat-toolbar> -->

<span class="material-symbols-outlined">
shopping_cart
</span>

