<mat-toolbar color="primary">
  <a mat-button routerLink="/home" routerLinkActive="active-link" color="accent">Home</a>
  <a mat-button routerLink="/albums" routerLinkActive="active-link" color="accent">Albums</a>
  <a mat-button routerLink="/artists" routerLinkActive="active-link" color="accent">Artists</a>
  <a mat-button routerLink="/about" routerLinkActive="active-link" color="accent">About</a>
  <a mat-button (click)="toggleTag()" routerLinkActive="active-link" color="accent"><mat-icon>shopping_cart</mat-icon></a>
</mat-toolbar>

<app-cart-panel *ngIf="isTagOpen" [isTagOpen]="isTagOpen" (closePanel)="toggleTag()"></app-cart-panel>

<!-- <span class="material-symbols-outlined">
shopping_cart
</span> -->
