<!-- <p>album-page works!</p> -->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img
          class="card-img-top mb-5 mb-md-0"
          [src]="BASE_API_URL + album?.album_cover"
          alt="Album cover"
        />
      </div>
      <div class="col-md-6">
        <!-- Bind the title of the album. This dynamically sets the text of the h1 tag -->
        <h1 class="display-5 fw-bolder">{{ album?.album_title }}</h1>
        <div class="fs-5 mb-5">
          <!-- Bind the price of the album. This dynamically sets the text of the span tag -->
          <span class="text-decoration-line-through">${{ album?.price }}</span>
        </div>
        <!-- Static text -->
        <p class="lead">About this Album:</p>
        <!-- Bind the description of the album. This dynamically sets the text of the p tag -->
        <p>{{ album?.description }}</p>
        <!-- Here we use routing to link the artist name to its corresponding page. album.artist_name is the text and '/artists/album.artist' is the URL -->
        <p>
          <strong>Artist:</strong>
          <a [routerLink]="['/artists', album?.artist?.id]">{{
            album?.artist?.artist_name
          }}</a>
        </p>
        <!-- Bind the year of the album -->
        <p><strong>Year:</strong> {{ album?.albumYear }}</p>
        <!-- Bind the genre of the album -->
        <p><strong>Genre:</strong> {{ album?.genre }}</p>
        <!-- Static text -->
        <p><strong>Songs in this album:</strong></p>
        <ol>
          <!-- Here we iterate over the songs_list array and for each song we create a new li element -->
          <li *ngFor="let song of album?.songs_list">{{ song }}</li>
        </ol>
        <!-- Static elements -->
        <div class="d-flex align-items-center">
          <div *ngIf="quantity === 0">
            <button (click)="incrementQuantity()">Add to Cart</button>
          </div>
          <div *ngIf="quantity > 0">
            <button (click)="decrementQuantity()">-</button>
            <span>{{ quantity }}</span>
            <button (click)="incrementQuantity()">+</button>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
  <br />
</section>
