<div class="artist-details">
  <h1>{{(artist$ | async)?.artist_name}}</h1>
  <p>{{(artist$ | async)?.artist_bio}}</p>
  <img [src]="BASE_API_URL + (artist$ | async)?.artist_image" alt="Artist image" width="400" height="400" />
</div>

<h2>Related Albums</h2>
<div class="container">
  <div class="item" *ngFor="let item of (albums$ | async)">
    <!-- This div contains the styling for each album card. -->
    <div class="album-card">
      <!-- The mat-card component from Angular Material to create a card. -->
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="album-header-image"></div>
          <mat-card-title>{{ item.album_title }}</mat-card-title>
          <!-- <mat-card-subtitle>Genre: {{ item.genre.genre_name }}</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image [src]="BASE_API_URL + item.album_cover" alt="Album Cover Image" />
        <mat-card-content>
          <p>
            Release year: {{ item.albumYear }}<br>
            {{ item.description }}
          </p>
        </mat-card-content>
        <!-- mat-card-actions holds the card's actions (buttons). -->
        <mat-card-actions>
          <!-- We use mat-button directive on a button to style it with Material Design. -->
          <button mat-button>Buy</button>
          <button mat-button [routerLink]="['/album', item.id]" color="accent">See More</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>




<!-- <p>artist-page works!</p> -->
<!-- <div *ngIf="artist">
  <h1>{{ artist.artist_name }}</h1>
  <p>{{ artist.artist_bio }}</p>
  <img src="{{ artist.artist_image }}" alt="Artist image" width="400" height="400">
</div> -->

<!--
<h2>Related Albums</h2>
<div class="container">

  <div class="item" *ngFor="let album of albums | async">
    <div class="album-card">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="album-header-image"></div>
          <mat-card-title>{{ album.album_title }}</mat-card-title>
          <mat-card-subtitle>Artist: {{ album.artist.artist_name }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="BASE_API_URL + album.album_cover" alt="Album Cover Image" />
        <mat-card-content>
          <p>
            Release year: {{ album.albumYear }}<br>
            {{ album.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Buy</button>
          <button mat-button [routerLink]="['/album', album.id]" color="accent">See More</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div> -->



<!-- ###### -->
<!-- ###### -->
<!-- <div *ngFor="let album of albums">
  <h3>{{ album.album_title }}</h3>
  <p>Year: {{ album.albumYear }}</p>
  <p>Genre: {{ album.genre.genre_name }}</p>
  <p>Description: {{ album.description }}</p>
  <p>Price: {{ album.price }}</p>
  <p>Songs List: {{ album.songs_list }}</p>
  <img src="{{ album.album_cover }}" alt="Album cover">
</div> -->
